@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: #FFE8F1;
}

.logo {
    margin-left: 20px;
}

.nav-link {
    font-size: 1.25rem;
    margin-left: 10px;
    color: #000;
}

.nav-link:hover {
    text-decoration: underline #0dcaf0;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0dcaf0;
}

#baking-journey {
    height: 500px;
    width: 400px;
}

p {
    color: #0dcaf0;
}

.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.footer p {
    font-size: 14px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    margin: 0 8px;
}

.social-icons a:hover {
    color: #0dcaf0;
}

.twitter-icon {
    color: #1DA1F2;
}

.facebook-icon {
    color: #1877F2;
}

.instagram-icon {
    color: #C13584;
}

@media (min-width: 768px) {
    #baking-journey {
        margin-left: 100px;
    }
}

@media (max-width: 767px) {
    #baking-journey {
        margin-left: 0;
    }
}