@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: #FFE8F1;
}

.logo {
    margin-left: 20px;
}

.nav-link {
    font-size: 1.25rem;
    margin-left: 10px;
    color: #000;
}

.nav-link:hover {
    text-decoration: underline #0dcaf0;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0dcaf0;
}

#search-button:hover {
    color: white;
}

h2 {
    color: #0dcaf0;
}

h5 {
    color: white;
}

h5:hover {
    color: #0dcaf0;
}

#brownie {
    height: 400px;
    width: 400px;
    border-radius: 30%;
}

#birthday-cake {
    height: 450px;
    width: 400px;
    border-radius: 50%;
}

.carousel-inner {
    max-width: 800px;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the carousel */
}

.image-wrapper {
    max-width: 600px;
    /* Set the maximum width for the image */
    width: 100%;
    /* Let the width adjust to the container while preserving aspect ratio */
    margin: 0 auto;
    /* Center the image within the wrapper */
    border-radius: 20px;
    /* Add border-radius for rounded corners (adjust as needed) */
    overflow: hidden;
    /* Hide any overflow of the image */
}

.carousel-item img {
    max-height: 400px;
    /* Set the maximum height */
    width: 100%;
    /* Let the width adjust to the container while preserving aspect ratio */
    height: auto;
    /* Let the height adjust to the container while preserving aspect ratio */
    object-fit: cover;
    /* Scale the image to cover the entire container */
}

p {
    color: #0dcaf0;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    margin: 0 8px;
}

.social-icons a:hover {
    color: #0dcaf0;
}

.twitter-icon {
    color: #1DA1F2;
}

.facebook-icon {
    color: #1877F2;
}

.instagram-icon {
    color: #C13584;
}

.carousel-caption h5 .carousel-caption p {
    color: #FFE8F1;
    text-shadow: none;
}